<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width , initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="">
<title></title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
</head>
<body>

    <h1 style="text-align: center;"><%= detail.title %> </h1>
    <form method="post" action="/hero/updated" style="border: 1px solid #eaea; width:fit-content; margin:0 auto; padding:10px; border-radius:7px;cursor: pointer;">
        <input type="text" hidden name="id" value="<%= detail.data[0].id %> ">
        <br>
        <br>
        <input type="text" name="name" value="<%= detail.data[0].name %> ">
        <br>
        <br>
        <input type="text" name="role" value="<%= detail.data[0].role %> ">
        <br>
        <br>
        <button type="submit" name="submitt">UPDATED</button>
        <br>
        <br>
        <a href="/hero">kembali ke halaman sebelumnya</a>
    </form>

<script src="main.js"></script>
</body>
</html>