<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width , initial-scale=1.0">
<meta charset="utf-8">
<link rel="stylesheet" href="css/style.css">
<title></title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
</head>
<body>
<section class="header">
    <div class="benner">
        <img src="img/background.jpg">
    </div>
    <div class="montoon-logo">
        <img src="img/montoon.png">
    </div>
    <div class="deskrispi">
        <div class="title">
            <h1>WEBSITE <span>MOBILE LEGEND</span></h1>
        </div>
        <div class="text-des">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis quas eius, deleniti non, repellendus quod adipisci, voluptatum doloremque ex nesciunt magni aliquid? Quibusdam impedit, eum commodi earum saepe blanditiis nesciunt. Ex a magnam deleniti fugiat nobis. Porro nesciunt unde maiores deleniti perferendis saepe asperiores, voluptatibus doloribus ad consectetur magnam exercitationem odit tenetur provident ullam culpa distinctio amet. Non, iusto commodi? Doloremque similique adipisci, voluptatem commodi reiciendis fugiat laudantium doloribus cupiditate cum! Quas mollitia laboriosam enim repellat officia voluptate nemo eligendi repudiandae deleniti, culpa illum! Autem accusantium quas cupiditate ipsum magnam voluptatum voluptate. Eligendi voluptates assumenda quidem alias, deleniti optio? Tempore non ullam earum hic corporis amet! Vero, ut accusantium. Animi reprehenderit expedita accusamus eligendi reiciendis? Impedit quia vero id similique, quos fugiat fugit culpa libero nesciunt ex ducimus fuga cupiditate vitae laudantium! Aut enim doloribus, porro placeat earum tenetur vel amet vitae officiis sapiente ducimus vero illo nam. Incidunt accusamus, quisquam ab, magni nihil perspiciatis dolor a expedita porro voluptatem cumque vero officiis pariatur modi vel iste labore cupiditate rem at ullam quasi repellendus. Nulla voluptatum nam modi animi omnis deleniti exercitationem amet reprehenderit facilis veritatis provident a, ea sapiente, culpa dolor in. Id totam est eius modi voluptatum quaerat.</p>
        </div>

        <ul>
            <li><a href="https://www.mobilelegends.com/">Montton Official</a></li>
            <li><a href="/hero" class="kanan">Input Data</a></li>
        </ul>
    </div>
</section>

<script src="main.js"></script>
</body>
</html>
